@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	/* Hide scrollbar for Chrome, Safari and Opera */
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}

	/* Hide scrollbar for IE, Edge and Firefox */
	.no-scrollbar {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}
}

#masked {
	mask-image: url(/mask.svg);
	mask-origin: content-box;
	mask-repeat: no-repeat;
	color: black;
	/* pointer-events: none; */
}

@media not all and (hover: none) and (pointer: coarse) {
	#masked {
		mask-position: calc(var(--x) - var(--size)/2) calc(var(--y) - var(--size)/2);
		mask-size: var(--size);
	}

	.touch {
		@apply hidden;
	}
}

@media (hover: none) and (pointer: coarse) {
	#masked {
		--size-touch: 100px;
		mask-position: 50% calc(var(--y-touch) - var(--size-touch)/2);
		mask-size: var(--size-touch);
		transition-property: mask-size;
		transition-duration: 900ms;

	}

	#masked.is-pressed {
		--size-touch: 4000px;
	}
}
