.circle {
    stroke-dasharray: 1000;
    /* stroke-dashoffset: 1000; */
    transition-property: stroke-dashoffset;
    transition-duration: 3s;
    transition-timing-function: ease-in-out;
    /* animation: stroke 30s ease-out forwards; */
  }

  @keyframes stroke {
    to {
      stroke-dashoffset: 0;
    }
  }
  
  @keyframes fadeIn {
      to {
          opacity: 1;
      }
  }